In [1]:
import os
os.chdir('./resommendation-systems')

In [2]:
import pandas as pd

# from src.metrics import precision_at_k, recall_at_k
from src.utils import prefilter_items
from src.recommenders import MainRecommender

In [3]:
data = pd.read_csv('./retail_train.csv')
user_features = pd.read_csv('./hh_demographic.csv')
item_features = pd.read_csv('./product.csv')

In [4]:
data.columns = [col.lower() for col in data.columns]
user_features.columns = [col.lower() for col in user_features.columns]
item_features.columns = [col.lower() for col in item_features.columns]

data.rename(columns={'household_key': 'user_id',
                     'product_id': 'item_id'},
                      inplace=True)

item_features.rename(columns={'household_key': 'user_id',
                     'product_id': 'item_id'},
                      inplace=True)


test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

data_train.head()

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0

In [5]:
data_train_pefiltered = prefilter_items(data_train, item_features)
data_train_pefiltered.head()

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,price
0,2375,26984851472,1,999999,1,1.39,364,-0.60,1631,1,0.0,0.0,1.39
1,2375,26984851472,1,999999,1,0.82,364,0.00,1631,1,0.0,0.0,0.82
2,2375,26984851472,1,999999,1,0.99,364,-0.30,1631,1,0.0,0.0,0.99
3,2375,26984851472,1,999999,1,1.21,364,0.00,1631,1,0.0,0.0,1.21
4,2375,26984851472,1,999999,1,1.50,364,-0.39,1631,1,0.0,0.0,1.50

In [6]:
recomender = MainRecommender(data_train_pefiltered)

WARNING:root:OpenBLAS detected. Its highly recommend to set the environment variable 'export OPENBLAS_NUM_THREADS=1' to disable its internal multithreading

  0%|          | 0/15 [00:00<?, ?it/s]

  0%|          | 0/277 [00:00<?, ?it/s]

In [7]:
recomender.get_similar_items_recommendation(10)

[9655422, 1001605, 6533840, 9527604, 9655292]

In [8]:
recomender.get_similar_users_recommendation(10)

[1054180, 1054180, 1054180, 1054180, 1054180]